@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,400;0,500;0,600;0,700;1,100;1,400;1,500;1,600;1,700&display=swap");

html {
  font-family: "IBM Plex Mono" !important;
  transition: 2s;
}

.navLinks ul li a span {
  background: linear-gradient(
      to right,
      rgba(100, 200, 200, 0),
      rgba(100, 200, 200, 0)
    ),
    linear-gradient(to right, #32a6e4, #74ccef, #c957d3);
  background-size: 100% 0.1em, 0 0.6em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 500ms;
}

.navLinks ul li a span:hover {
  background-size: 0 0.1em, 100% 0.6em;
}
